.profile__edit-btn {
  padding: 0;
  min-width: 24px;
  min-height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  background-image: url('../../../images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  align-self: flex-end;
  margin: 0 18px 9px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

@media screen and (max-width: 920px) {
  .profile__edit-btn {
    margin: 0 18px 6px;
  }
}

@media screen and (max-width: 780px) {
  .profile__edit-btn {
    min-width: 18px;
    min-height: 18px;
    margin: 0 0 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 50%;
  }
}
