@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./blocks/app/app.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/_active/header_active.css');
@import url('./blocks/header/__logo-box/header__logo-box.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__close-btn/header__close-btn.css');
@import url('./blocks/header/__close-btn/_visible/header__close-btn_visible.css');
@import url('./blocks/header/__container/header__container.css');
@import url('./blocks/header/__container/_active/header__container_active.css');
@import url('./blocks/header/__email/header__email.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__button/header__button.css');
@import url('./blocks/main-content/main-content.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__photo/profile__photo.css');
@import url('./blocks/profile/__edit-avatar-btn/profile__edit-avatar-btn.css');
@import url('./blocks/profile/__name-box/profile__name-box.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__edit-btn/profile__edit-btn.css');
@import url('./blocks/profile/__about-me/profile__about-me.css');
@import url('./blocks/profile/__add-btn/profile__add-btn.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__card-container/popup__card-container.css');
@import url('./blocks/popup/__card-img/popup__card-img.css');
@import url('./blocks/popup/__card-title/popup__card-title.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/_type_error/popup__input_type_error.css');
@import url('./blocks/popup/__error-container/popup__error-container.css');
@import url('./blocks/popup/__input-error/_active/popup__input-error_active.css');
@import url('./blocks/popup/__save-btn/popup__save-btn.css');
@import url('./blocks/popup/__save-btn/_disabled/popup__save-btn_disabled.css');
@import url('./blocks/popup/__close-btn/popup__close-btn.css');
@import url('./blocks/popup/__img/popup__img.css');
@import url('./blocks/popup/__title-tooltip/popup__title-tooltip.css');
@import url('./blocks/hover-btn/hover-btn.css');
@import url('./blocks/cards/__list/cards__list.css');
@import url('./blocks/card/card.css');
@import url('./blocks/card/__img/card__img.css');
@import url('./blocks/card/__title/card__title.css');
@import url('./blocks/card/__like-btn/card__like-btn.css');
@import url('./blocks/card/__like-btn/_active/card__like-btn_active.css');
@import url('./blocks/card/__likes-amount/card__likes-amount.css');
@import url('./blocks/card/__delete-btn/card__delete-btn.css');
@import url('./blocks/card/__delete-btn/_active/card__delete-btn_active.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');