.header__button {
  padding: 0;
  align-self: center;
  background-color: transparent;
  border: none;
  color: #A9A9A9;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  transition: opacity 0.2s linear;
  padding-left: 24px;
  cursor: pointer;
}