.popup {
  visibility: hidden;
  opacity: 0;
  transition: all .3s linear;
}

.popup::before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, .5);
}